#chatbox {
    margin-bottom: 25px;
    padding: 40px;
    background: #fff;
    height: 270px;
    width: 75%;
    border: 1px solid #ACD8F0;
}

.inputbox {
    min-width: 400px;
}

.vertical-center {}
